/* These classes all refer to the navbar and logo */
.topbar {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
}

.logoImage {
    width: 100px;
    height: 100px;
}

.navbar {
    display: flex;
    padding: 10px;
}

.navbar-link {
    margin: 3px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    color: #BC945B;
}

.navbar-link:hover {
    color: #877148;
    border-color: #BC945B;
    transform: scale(1.1);
}

/* These classes refer to the content of the page */
.center {
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
}

.center-img {
    margin: 0 auto;
    display: block;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

a {
    color: #BC945B;
}

button {
    border: 2px solid black;
    border-radius: 3px;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    color: #877148;
    border-color: #BC945B;
    transform: scale(1.1);
}

progress {
    border: 3px solid #877148;
    border-radius: 10px;
}

/* Found on geeksforgeeks.org */
progress::-webkit-progress-value {
    background: #BC945B;
}